$color-gray: rgba(192, 195, 206, 1);
$color-button-fill: rgb(227, 172, 0);
$color-button-hover: rgba(227, 172, 0, 0.897); 
$banner-grad-color: rgb(150, 50, 79);
$body-color-fill: rgb(33, 35, 46);
$footer-color: rgb(59, 63,80);
$section-card-fill: rgb(59, 63,80);
$header-font-color: white;
$underline-color: rgb(255, 78, 51);

$font-family-base1: 'Fresca';
$font-family-base2: 'Hind';
$font-family-base3: 'Source Sans Pro';

$font-size-base: 14px;

$background-headrer-img1: url(../img/m-h-night.jpg);

