$color-gray: rgba(192, 195, 206, 1);

$color-button-fill: rgb(105, 153, 0);
$color-button-hover: rgba(105, 153, 0, 0.897);
$banner-grad-color: rgb(43, 89, 222); 
$body-color-fill: white;
$footer-color: rgb(33, 35, 46);
$section-card-fill: rgb(33, 35, 46);
$header-font-color: rgb(33, 35, 46);
$underline-color: rgb(20, 160, 199);

$font-family-base1: 'Fresca';
$font-family-base2: 'Hind';
$font-family-base3: 'Source Sans Pro';

$font-size-base: 14px;

$background-headrer-img1: url(../img/m-h-day.jpg);


